.wrapper {
    width: 100%;
}

.title {
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 2.5rem;
}

.description {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
}

@media (max-width: 980px) {
    .title {
        font-size: 4.5rem;
    }
}

@media (max-width: 900px) {
    .wrapper {
        margin-top: 24rem;
    }
}