@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root{
  --tomato:hsl(0, 100%, 74%);
  --blue-berry:hsl(248, 32%, 49%);
  --shadow-blue:hsla(249, 10%, 26%, 0.582);
  --grayish-blue: hsl(246, 25%, 77%);
  --grass:hsl(154, 59%, 51%);
}

body{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url('./images/bg-intro-desktop.png');
  background-size: cover;
  background-color: var(--tomato);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.App{
  width: 100%;
  height: 100%;
}

.hero-section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 3rem;
  margin:auto;
}

.site-desc{
  width: 50%;
  color: #fff;
  padding:1rem;
  margin: auto;
}

.brand{
  font-size: 3rem;
  font-weight: 700;
}

.brand-tag{
  font-weight: 200;
}

.login{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
}

.offer{
  background-color: var(--blue-berry);
  width: 50%;
  border-radius: 10px;
  padding: .8rem .6rem;
  text-align: center;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 6px 4px var(--shadow-blue);
}

.offer > span{
  font-weight: 600;
}

.login-form{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 9px;
  padding: .9rem .7rem;
  align-items: center;
  box-shadow: 0 6px 4px var(--shadow-blue);
}

.login-form > input{
  width: 87%;
  padding: .8rem 1rem;
  margin: 6px 0;
  border-radius: 6px;
  border: 1px solid var(--grayish-blue);
}

input:focus { 
  outline: none !important;
  border-color: var(--blue-berry);
}

.claim-button{
  width: 95%;
  padding: .8rem 1rem;
  margin: 8px 0;
  border-radius: 6px;
  background-color: var(--grass);
  border: none;
  box-shadow: 0 5px 3px hsl(154, 60%, 34%);
  color: #fff;
}

.claim-button:active,.claim-button:hover{
  background-color: hsl(154, 62%, 62%);;
}

.terms{
  font-size: 11px;
  color: var(--grayish-blue);
  padding-bottom: .6rem;
}

.terms > span{
  color: var(--tomato);
  font-weight: 700;
  
}

.error-message{
  width: 95%;
  font-size: 10px;
  margin: 0;
  text-align: end;
  color: var(--tomato);
}

.login-form > input.fix-error {
  border: 1px solid var(--tomato);
  background-image: url("./images/icon-error.svg");
  background-size: 1rem;
  background-position: 23rem;
  background-repeat: no-repeat;
}

.attribution {
   font-size: 11px; 
   text-align: center; 
   color: #fff;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 450px) {
  body{
    overflow-y: auto;
    background-image: url("./images/bg-intro-mobile.png");
  }

  .hero-section{
    flex-direction: column;
    padding: 3rem 0;
  }

  .site-desc{
    width: 90%;
    text-align: center;
    padding: 0;
  }

  .brand{
    font-size: 1.8rem;
  }

  .brand-tag{
    font-size: 14px;
  }

  .login{
    width: 90%;
  }

.offer{
  width: 90%;
  padding: 2rem .6rem;
  margin-left: 15px;
}

  .login-form{
    width: 90%;
    margin-left: 15px;
  }

  .login-form > input.fix-error {
    background-position: 16rem;
  }

  .terms{
    text-align: center;
  }

  .attribution{
    width: 90%;
  }

}
